@page "/addresses/edit"
@using Microsoft.EntityFrameworkCore
@using Application.Models
@inject IDbContextFactory<Application.Database.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Address</h2>
<hr />
@if (Address is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Address" OnValidSubmit="UpdateAddress" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Address.Id" value="@Address.Id" />
                <div class="mb-3">
                    <label for="street" class="form-label">Street:</label>
                    <InputText id="street" @bind-Value="Address.Street" class="form-control" />
                    <ValidationMessage For="() => Address.Street" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <InputText id="city" @bind-Value="Address.City" class="form-control" />
                    <ValidationMessage For="() => Address.City" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="zipcode" class="form-label">ZipCode:</label>
                    <InputText id="zipcode" @bind-Value="Address.ZipCode" class="form-control" />
                    <ValidationMessage For="() => Address.ZipCode" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country:</label>
                    <InputText id="country" @bind-Value="Address.Country" class="form-control" />
                    <ValidationMessage For="() => Address.Country" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/addresses">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private Address? Address { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Address ??= await context.Address.FirstOrDefaultAsync(m => m.Id == Id);

        if (Address is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAddress()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Address!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AddressExists(Address!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/addresses");
    }

    private bool AddressExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Address.Any(e => e.Id == id);
    }
}
